# Assignment 1

### Name: Ajoke Yusuf

#### Question 1

Print all elements of a list using for loop

In [1]:
#creating a list assigned to a variable "my_list"
my_list = ["Alfred","Betty", 16, "Lagos", 2004]
for item in my_list:
    print(item)

Alfred
Betty
16
Lagos
2004

#### Question 2

Using range(1,101), make two list, one containing all even numbers and other containing all odd numbers.

In [58]:
#creating an empty list
even_num=[]

#iterating through every num found between 1 to 100
for num in range(1,101):
    if num % 2 ==0:
#appending the num divisible by 2 to the empty list
        even_num.append(num)
print(even_num)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [60]:
#creating an empty list
odd_num=[]

#iterating through every num found between 1 to 100
for num in range(1,101):
    #find out the num not divisible by 2
    if num % 2 !=0:
#appending the num not divisible by 2 to the empty list
        odd_num.append(num)
print(odd_num)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#### Question 3

A company decided to give bonus of 5% to employee if his/her year of service is more than 5years. Ask user for their salary and year of service and print the net bonus amount

In [16]:
bonus = 0.05

#Asking employee to input their year_of_service
Year_of_service= int(input("Year of service:"))

#Asking employee to input their salary earned
salary = int(input("salary_earned:"))

#formular for calculating net_bonus
net_bonus = bonus*salary

if Year_of_service > 5:
    print("Net_Bonus_Amount:",net_bonus)
else:
    print("Net Bonus not applicable to employee with less than 5 years working service")

Year of service:10
salary_earned:100000
Net_Bonus_Amount: 5000.0

#### Question 4

Take input of age of 3 people by user and determine oldest and youngest among them.

In [113]:
user_1 = int(input("Enter your age:"))
user_2 = int(input("Enter your age:"))
user_3 = int(input("Enter your age:"))

def oldest(age1,age2,age3):
    if (age1>age2) and (age1>age3):
        oldest_age= age1
    elif (age2>age1) and (age2>age3):
        oldest_age = age2
    else:
        oldest_age = age3
    print("The oldest among them is:", oldest_age)
    
def smallest(age1,age2,age3):
    if (age1<age2) and (age1<age3):
        smallest_age= age1
    elif (age2<age1) and (age2<age3):
        smallest_age = age2
    else:
        smallest_age = age3
    print("The youngest among them is:", smallest_age)
oldest(user_1,user_2,user_3)
smallest(user_1,user_2, user_3)

Enter your age:24
Enter your age:54
Enter your age:38
The oldest among them is: 54
The youngest among them is: 24

#### Question 5

5. A school has following rules for grading system:
- Below 25 - F
- 25 to 45 - E
- 45 to 50 - D
- 50 to 60 - C
- 60 to 80 - B
- Above 80 - A

Ask user to enter marks and print the corresponding grade

In [85]:
#Asking student to input their score
score = int(input("Enter your score:"))

if (score<25):
    grade = 'F'
elif (score>=25 and score<45):
    grade = 'E'
elif (score>=45 and score<50):
    grade = 'D'
elif (score>=50 and score<=60):
    grade = 'C'
elif (score>=60 and score<=80):
    grade = 'B'
else:
    grade = 'A'
print("Your corresponding grade:", grade)

Enter your score:90
Your corresponding grade: A

#### Question 6

Write a Python script to merge two Python dictionaries

In [89]:
#creating a first python dictionary assign to a variable "dict_1"
dict_1 = {"Name": ["Chizzy", "Femi", "Bella"], "age": [23, 45, 33]}

#creating a second python dictionary assign to a variable "dict_2"
dict_2 = {"State": ["Oyo, Calabar, Lagos"], "sex": ["Male", "Male", "Female"]}

#Merging "dict_1" and "dict_2"
dict_1.update(dict_2)
print(dict_1)

{'Name': ['Chizzy', 'Femi', 'Bella'], 'age': [23, 45, 33], 'State': ['Oyo, Calabar, Lagos'], 'sex': ['Male', 'Male', 'Female']}

#### Question 7

Write a Python program to remove a key from a dictionary.

In [114]:
#using the merge dict named "dict_1" in question 6
del dict_1['State']
print(dict_1)

{'Name': ['Chizzy', 'Femi', 'Bella'], 'age': [23, 45, 33], 'sex': ['Male', 'Male', 'Female']}

#### Question 8

Write a Python program to get the largest number from a list

In [98]:
# defining a func called largest
def largest(list_num):
    #displaying the largest element in the list
    print("Largest Number:", max(list_num))    
#creating a list of numbers
list_num = [23,45,25,14,78,56,49,67,33,28,52,20]
largest(list_num)

Largest Number: 78