### 1)Print all elements of a list using for loop.

In [1]:
listx = [2,4,5,7,8,9,10]
for x in listx:
    print(x)

2
4
5
7
8
9
10

# 2)Using range(1,101), make two list, one containing all even numbers andother containing all odd numbers.

In [5]:
numbers = range (1,101)
even_no = []
odd_no = []
for i in numbers:
    if i % 2 == 0:
        even_no. append(i)
    else:
        odd_no.append(i)
print("even number", even_no)
print("odd number", odd_no)

even number [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
odd number [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

###  3)A company decided to give bonus of 5% to employee if his/her year of service is more than 5years. Ask user for their salary and year of service and print the net bonus amount.

In [7]:
salary = int(input("salary"))
year = int(input('year of service'))
if year == 5:
    print(salary * 0.05)
else:
    print("not eligible")

salary30000
year of service5
1500.0

In [8]:
salary = int(input("salary"))
year = int(input('year of service'))
if year == 5:
    print(salary * 0.05)
else:
    print("not eligible")

salary50000
year of service5
2500.0

###  4)Take input of age of 3 people by user and determine oldest and youngest among them.

In [2]:
person1 = int(input("enter your age "))
person2 = int(input("enter your age "))
person3 = int(input("enter your age "))
list = [person1, person2, person3]
print("\n")
print("oldest among them is ", max(list))
print("youngest among them is  ", min(list))

enter your age 20
enter your age 25
enter your age 1


oldest among them is  25
youngest among them is   1

In [31]:
Age = {"Chisom": 25, "Jennifer": 20, "Ugomsi": 1}
Oldest = print("Oldest among them is", max(Age.values()))
Youngest = print("Youngest among them is", min(Age.values()))

Oldest among them is 25
Youngest among them is 1

A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A
5) Ask user to enter marks and print the corresponding grade

In [8]:
grades = int(input())
if grades < 25:
    print("F")
elif grades > 25 and grades <=45:
    print("E")
elif grades > 45 and grades <= 50:
    print("D")
elif grades > 50 and grades <= 60:
    print("C")
elif grades > 60 and grades <= 80:
    print("B")
elif grades > 80:
    print("A")

45
E

### 6)Write a Python script to merge two Python dictionaries

In [5]:
age1 = {"Chisom": 25, "Jennifer": 20, "Ugomsi": 1}
age2 = {"Nneka": 24, "Oge": 23}
Age = age1.copy()
age1.update(age2)
print(age1)

{'Chisom': 25, 'Jennifer': 20, 'Ugomsi': 1, 'Nneka': 24, 'Oge': 23}

### 7)Write a Python program to remove a key from a dictionary.

In [9]:
age = {'Chisom': 25, 'Jennifer': 20, 'Ugomsi': 1, 'Nneka': 24, 'Oge': 23}
print(age)
if "Chisom" in age:
    del age ["Chisom"]
print(age)

{'Chisom': 25, 'Jennifer': 20, 'Ugomsi': 1, 'Nneka': 24, 'Oge': 23}
{'Jennifer': 20, 'Ugomsi': 1, 'Nneka': 24, 'Oge': 23}

### 8)Write a Python program to get the largest numberfrom a list

In [12]:
def largest_no(list):
    max = list[0]
    for x in list:
        if x > max:
            max = x
    return max
print(largest_no ([20,30,40,50,60,70]))

70