#print all elements of a list using for loop

In [1]:
my_names = ["Aminat", "Adenike", "Atinuke", "Omowunmi"]
for name in my_names:
    print(name)

Aminat
Adenike
Atinuke
Omowunmi

#Using range(1,101), make two list, one containing all even numbers and
other containing all odd numbers.

In [10]:
my_numbers = [x for x in range(1, 101) if x % 2 == 0]
print("even numbers:", my_numbers)

even numbers: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [13]:
my_numbers = [x for x in range(1, 101) if x%2!=0]
print("odd numbers:", my_numbers)

odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

#Take input of age of 3 people by user and determine oldest and youngest among them.

In [ ]:
Aminat = (input("26:"))
Aishat = (input("12:"))
Halimat = (input("17:"))

if Aminat > Aishat and Aminat > Halimat:
    print("Aminat is the oldest")
elif Aishat > Aminat and Aishat > Halimat:
    print("Aishat is the oldest")
elif Halimat > Aminat and Halimat > Aishat:
    print("Halimat is the oldest")

#write a python script to merge two python dictionaries

In [1]:
dict1 = {  "Sade" : 14, "Tola" : 29, 'Fola' : 15 }
dict2 = {  "Mark" : 29, "John": 12, "Bruce" : 10 }
 
print("Before merging")
print("dictionary 1:", dict1)
print("dictionary 2:", dict2)
 
dict3 = dict1.copy()
 
for key, value in dict2.items():
    dict3[key] = value
 
print("after updating :")
print(dict3)

Before merging
dictionary 1: {'Sade': 14, 'Tola': 29, 'Fola': 15}
dictionary 2: {'Mark': 29, 'John': 12, 'Bruce': 10}
after updating :
{'Sade': 14, 'Tola': 29, 'Fola': 15, 'Mark': 29, 'John': 12, 'Bruce': 10}

#) Write a python program to get the largest number from a list

In [2]:
my_list = [10, 2, 40, 25, 9]
print("Largest element is:", max(my_list))

Largest element is: 40

#Write a python program to remove a key from a dictionary

In [3]:
my_dict = {  "Sade" : 14, "Tola" : 29, 'Fola' : 15, "Mina" : 38 }
my_dict.pop("Tola")
print(my_dict)

{'Sade': 14, 'Fola': 15, 'Mina': 38}