# 1) Print all elements of a list using for loop.

In [2]:
States = ['Abia', 'Adamawa', 'Benue', 'Edo', 'Lagos', 'Nassarawa', 'Rivers', 'Imo', 'Osun', 'Taraba', 'Enugu']

for state in States:
    print(state)

Abia
Adamawa
Benue
Edo
Lagos
Nassarawa
Rivers
Imo
Osun
Taraba
Enugu

# 2) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

### User_1

In [27]:
print("What is your Salary?")
Salary = int(input())
print("How long have you worked at the company?")
Years_worked = int(input())

if Years_worked > 5:
    print("Your net bonus is ", (5/100) * Salary)
else:
     print("You do not qualify for a bonus at this time")

What is your Salary?
345000
How long have you worked at the company?
7
Your net bonus is  17250.0

### User_2

In [26]:
print("What is your Salary?")
Salary = int(input())
print("How long have you worked at the company?")
Years_worked = int(input())

if Years_worked > 5:
    print("Your net bonus is ", (5/100) * Salary)
else:
     print("You do not qualify for a bonus at this time")

What is your Salary?
145000
How long have you worked at the company?
4
You do not qualify for a bonus at this time

# 3) Take input of age of 3 people by user and determine oldest and youngest among them.

In [1]:
age = {"Tunde": 32, "Aigbe": 20, "Deborah": 23}

min(age.values())
max(age.values())

print("The youngest amongst them is " + min(age.keys()), ", who is " + str(min(age.values())) ,"years old.")
print("The oldest amongst them is " + max(age.keys()), ", who is " + str(max(age.values())), "years old.")

The youngest amongst them is Aigbe , who is 20 years old.
The oldest amongst them is Tunde , who is 32 years old.

# 4) A school has following rules for grading system:
##### a. Below 25 - F
##### b. 25 - 45 - E
##### c. 46-50 - D
##### d. 51 - 60 - C
##### e. 61 - 80 - B
##### f. above 80 - A

# 5) Ask user to enter marks and print the corresponding grade

In [27]:
# creating lists for each grade
A = list(range(81,101))     # between 81-100
B = list(range(60,81))      # between 60-80
C = list(range(51,61))      # between 51-60
D = list(range(45, 51))     # between 45-50
E = list(range(25, 45))     # between 25-44
F = list(range(0,25))       # between 0-24

print("Enter your marks below")
Marks = int(input())

if Marks in A:
    print("Your grade is A")
elif Marks in B:
    print("Your grade is B")
elif Marks in C:
    print("Your grade is C")
elif Marks in D:
    print("Your grade is D")
elif Marks in E:
    print("Your grade is E")
elif Marks in F:
    print("Your grade is F")

Enter your marks below
89
Your grade is A

# 6) Write a Python script to merge two Python dictionaries

In [15]:
Europe = {"Germany": "Berlin", "Russia": "Moscow", "Ukraine": "Kyiv", "Italy": "Rome", "Poland": "Warsaw"}
Europe_1 = {"Greece": "Athens", "France": "Paris", "Spain": "Madrid", "Portugal": "Lisbon", "Ireland": "Dublin"}

Europe.update(Europe_1)
Europe

{'Germany': 'Berlin',
 'Russia': 'Moscow',
 'Ukraine': 'Kyiv',
 'Italy': 'Rome',
 'Poland': 'Warsaw',
 'Greece': 'Athens',
 'France': 'Paris',
 'Spain': 'Madrid',
 'Portugal': 'Lisbon',
 'Ireland': 'Dublin'}

# 7) Write a Python program to get the largest number from a list

In [28]:
weight = [23, 98, 106, 45, 40, 52, 88, 12, 63, 78, 212]

def max_weight(list):
    max = list[0]
    for num in list:
        if num > max:
            max = num
    return max

max_weight(weight)

212

# 8) Write a Python program to remove a key from a dictionary.

In [16]:
Stationary = {"Books": 3, "Pens": 10, "A4 paper": 15, "Tape": 1, "Ruler": 4, "Eraser": 4}
print(Stationary)

Stationary.pop("A4 paper")
print(Stationary)

{'Books': 3, 'Pens': 10, 'A4 paper': 15, 'Tape': 1, 'Ruler': 4, 'Eraser': 4}
{'Books': 3, 'Pens': 10, 'Tape': 1, 'Ruler': 4, 'Eraser': 4}