# Question 1

In [1]:
my_list = ["Apple", "Pear", 1, 2, 4]
for i in my_list:
    print(str(i) + " is an element in my_list")

Apple is an element in my_list
Pear is an element in my_list
1 is an element in my_list
2 is an element in my_list
4 is an element in my_list

# Question 2

In [2]:
even_list = []
odd_list = []
for i in range(1, 101):
    if i%2==0:
        even_list.append(i)
    else:
        odd_list.append(i)
        
print("The even numbers are: " + str(even_list))

The even numbers are: [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [3]:
print("The odd numbers are: " + str(odd_list))

The odd numbers are: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

# Question 3

In [4]:
bonus_percentage = 5/100

year_of_service = int(input("Please enter your years of service: "))

salary = int(input("Please enter your salary: "))

def bonus_for_service(year_of_service, salary, bonus_percentage):
    
    net_bonus_amount = bonus_percentage * salary
    
    net_amount = salary
    
    net_salary_with_bonus = bonus_percentage * salary + salary
    
    if year_of_service >=5:
        
        return ("Congratulations your net bonus is: " + str(net_bonus_amount) +"\n Your new salary is: " + 
                str(net_salary_with_bonus))
    
    else:
        
        return "Sorry you are not qualified for a bonus yet " + str(net_amount)
    
        
print(bonus_for_service(year_of_service, salary, bonus_percentage))

Please enter your years of service: 7
Please enter your salary: 6000
Congratulations your net bonus is: 300.0
 Your new salary is: 6300.0

# Question 4

In [5]:
user1 = int(input("Please enter your age: "))
user2 = int(input("Please enter your age: "))
user3 = int(input("Please enter your age: "))

age = [user1, user2, user3]
    
print("The oldest person's age is: " + str(max(age)))
print("The youngest person's age is: " + str(min(age)))

Please enter your age: 40
Please enter your age: 75
Please enter your age: 12
The oldest person's age is: 75
The youngest person's age is: 12

# Question 5

In [6]:
marks = int(input("Please enter your marks: "))
if marks < 25:
    print("Your grade for the semester is F")
    
elif marks >= 25 and marks < 45:
    print("Your grade for the semester is E")
    
elif marks >= 45 and marks < 50:
    print("Your grade for the semester is D")
    
elif marks >= 50 and marks < 60:
    print("Your grade for the semester is C")
    
elif marks >= 60 and marks < 80:
    print("Your grade for the semester is B")
    
else:
    print("Your grade for the semester is A")

Please enter your marks: 65
Your grade for the semester is B

# Question 6

In [7]:
dict_1 = {"orange" : 1, "mango" : 3, "guava": 5}
dict_2 = {"kiwi" : 4, "melon" : 7}
print(dict_1 | dict_2)

{'orange': 1, 'mango': 3, 'guava': 5, 'kiwi': 4, 'melon': 7}

# Question 7

In [8]:
my_dict = {"bright" : 8, "calm" : 9, "faith" : 6}
my_dict.pop("bright")
my_dict

{'calm': 9, 'faith': 6}

# Question 8

In [9]:
my_list = [10, 23, 56, 10, 90, 1]
print("The largest number in my_list is: " + str(max(my_list)))

The largest number in my_list is: 90