# 1. Print all elements of a list using "for loop"

In [20]:
list = []
for i in range(0,10,2):
    list.append(i)
    print(list)

[0]
[0, 2]
[0, 2, 4]
[0, 2, 4, 6]
[0, 2, 4, 6, 8]

In [17]:
names = "John", "Jane" , "Mike"
first_names = []
for name in names:
   first_names.append(name.split(" ")[0])
print(first_names)

['John', 'Jane', 'Mike']

# 2. Using range(1,101), make two list, one containing all even numbers and
# other containing all odd numbers.

In [29]:
for even_numbers in range(1, 101):
    if even_numbers % 2 == 0:
        print(even_numbers)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50
52
54
56
58
60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100

In [28]:
for odd_numbers in range(1, 101):
    if odd_numbers % 2 != 0:
        print(odd_numbers)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# 3. A company decided to give bonus of 5% to employee if his/her year of service is more than 5
# years. Ask user for their salary and year of service and print the net bonus amount

# 4. Take input of age of 3 people by user and determine oldest and youngest among them.

In [34]:
age = (14, 16, 20)
min(age)

14

In [31]:
age = (14, 16, 20)
max(age)

20

# 5. A school has following rules for grading system:

In [16]:
score = ( 20, 25, 30, 40, 45, 50 ,47, 56, 70,75, 90, 92)
def determine_grade(score):
    if score > 80:
        return 'A'
    elif score >= 60:
        return 'B'
    elif score >= 50:
        return 'C'
    elif scores >= 45:
        return 'D'
    elif scores >= 25:
        return 'E'
    else:
        return 'F'

# 6. Write a Python script to merge two Python dictionaries

In [42]:
Student_best_Colours = {'Ade': 'pink', 'Joke': 'yellow', 'Ojo': 'red', 'Joy': 'black'}
biodata = {"name": ["Ade", "Joke", "Ojo", "Joy"], "age" :[12, 10, 14, 11]}
merge = {**Student_best_Colours , **biodata}
print(merge)

{'Ade': 'pink', 'Joke': 'yellow', 'Ojo': 'red', 'Joy': 'black', 'name': ['Ade', 'Joke', 'Ojo', 'Joy'], 'age': [12, 10, 14, 11]}

# 7. Write a Python program to remove a key from a dictionary

In [46]:
Student_best_Colours = {'Ade': 'pink', 'Joke': 'yellow', 'Ojo': 'red', 'Joy': 'black'}

del Student_best_Colours["Joke"]

In [48]:
print(Student_best_Colours)

{'Ade': 'pink', 'Ojo': 'red', 'Joy': 'black'}

# 8. Write a Python program to get the largest number from a list

In [52]:
scores_of_students = [50, 70, 90, 100, 65, 75, 85]
max(scores_of_students)

100