In [ ]:
1)Print all elements of a list using for loop
2)A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.
3)Take input of age of 3 people by user and determine oldest and youngest among them.

 6)Write a Python script to merge two Python dictionaries
 7)Write a python programto get the largest number from a list 
 8)Write a python program to remove a key from a dictionary

1)Print all elements of a list using for loop

In [73]:
Breakfast = ('Coleslaw','rice', 'beans', 'chicken', 'pineapples', 'juice')
for food in Breakfast:
    print (Breakfast)

('Coleslaw', 'rice', 'beans', 'chicken', 'pineapples', 'juice')
('Coleslaw', 'rice', 'beans', 'chicken', 'pineapples', 'juice')
('Coleslaw', 'rice', 'beans', 'chicken', 'pineapples', 'juice')
('Coleslaw', 'rice', 'beans', 'chicken', 'pineapples', 'juice')
('Coleslaw', 'rice', 'beans', 'chicken', 'pineapples', 'juice')
('Coleslaw', 'rice', 'beans', 'chicken', 'pineapples', 'juice')

2)A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

In [28]:

print ("Hello, there")
print ("what is your currrent salary?")
my_salary = input()
print ("How many years have you served in this company?")
year_of_service = input()
if year_of_service > '5':
    print(float(my_salary) * 0.05)

Hello, there
what is your currrent salary?
5000
How many years have you served in this company?
6
250.0

3)Take input of age of 3 people by user and determine oldest and youngest among them.

In [47]:
print ('Enter your age')
entry1 = input()
print (entry1)
entry2 = input()
print (entry2)
entry3 = input()
print (entry3)
print ('This is the maximum age', (max(entry1, entry2, entry3)))
print ('This is the minimum age', (min(entry1, entry2, entry3)))

Enter your age
54
54
65
65
75
75
This is the maximum age 75
This is the minimum age 54

4)A school has following rules for grading system:
    a. Below 25 -F
    b. 25 to 45 -E
    c. 45 to 50 -D
    d. 50 to 60 -C
    e. 60 to 80 -B
    f. Above 80 -A
    5)Ask user to enter marks and print the corresponding grade.

In [39]:
print ('Welcome, Please input a grade.')
grade = input()
if grade < '25':
    print ('F')
elif grade <= '45':
    print ('E')
elif grade <= '50':
    print ('D')
elif grade <= '60':
    print ('C')
elif grade <= '80':
    print ('B')
elif grade > '80':
    print ('A')

Welcome, Please input a grade.
45
E

6)Write a Python script to merge two Python dictionaries

In [60]:
dict1 = {'emy': 1, 'edy':2, 'conny':3}
print (dict1)
dict2 = {'mary': 4, 'okon':5}
print (dict2)
dict1.update(dict2)
print (dict1)

{'emy': 1, 'edy': 2, 'conny': 3}
{'mary': 4, 'okon': 5}
{'emy': 1, 'edy': 2, 'conny': 3, 'mary': 4, 'okon': 5}

7)Write a python programto get the largest number from a list

In [64]:
keys = (3, 45, 7, 8, 10, 23)
print (keys)
print (max (keys))

(3, 45, 7, 8, 10, 23)
45

 8)Write a python program to remove a key from a dictionary

In [72]:
dictionary = {'emy': 1, 'edy':2, 'conny':3}
print (dictionary)
del dictionary['conny']
print (dictionary)

{'emy': 1, 'edy': 2, 'conny': 3}
{'emy': 1, 'edy': 2}