1 Print all elements of a list using for loop

In [1]:
#Printing all elements of a list using for loop
name = ['Michelle', 'Aria', 'Grace', 'Purity', 'Delight']
for item in name:
    print(item)

Michelle
Aria
Grace
Purity
Delight

2 Write a Python script to merge two Python dictionaries

In [2]:
#creating two dictionaries to be merged
dict_1 = {'Samuel': 30, 'Favour': 24, 'Ade': 27}
dict_2 = {'Kester' :17 , 'Michel' : 35, 'Sopuru' :26}
d = dict_1.copy()
d.update(dict_2)
print (d)

{'Samuel': 30, 'Favour': 24, 'Ade': 27, 'Kester': 17, 'Michel': 35, 'Sopuru': 26}

3 Write a python program to get the largest number from a list

In [3]:
#getting largest number froma list
def max_num_in_list (list):
    max = list[0]
    for a in list:
        if a > max:
            max = a
    return max
print(max_num_in_list([12,5,-15,8,4]))

12

4 Write a python program to remove a key from a dictionary

In [4]:
dict1 = {"paul": 10, "amaka": 50, "cherish": 30, "ola":70}
print(dict1)
if "paul"  in dict1:
    del dict1["paul"]
print(dict1)

{'paul': 10, 'amaka': 50, 'cherish': 30, 'ola': 70}
{'amaka': 50, 'cherish': 30, 'ola': 70}

5 Take input of age of 3 people by user and determine oldest and youngest among them.

In [5]:
# Determining the oldest and youngest age
age = [75, 45, 100]
max_age = max(age)
print(max_age)

100

In [7]:
# youngest age
min_age = min(age)
print(min_age)

45

6 A school has following rules for grading system:
a. Below 25 - F
b. 25 to 45 - E
c. 45 to 50 - D
d. 50 to 60 - C
e. 60 to 80 - B
f. Above 80 - A

7 Ask user to enter marks and print the corresponding grade.

In [ ]:
marks=int(input("Enter the marks:"))
if(marks>80):
    print("Grade A")
elif(mark>60):
    print("Grade B")
elif(mark>50):
    print("Grade C")
elif(mark>45):
    print("Grade D")
elif(mark>25):
    print("Grade E")
else:
    print("Fail")

8 A company decided to give bonus of 5% to employee if his/her year of service is more than 5
years. Ask user for their salary and year of service and print the net bonus amount.

In [ ]:
salary = int(input("Enter your salary ="))
year = int(input("Enter your service year ="))
if year>5:
    Print("your net bonus is", 0.05*salary)