# QUESTION 1
Print all elements of a list using for loop

In [3]:
My_list =[2500,5000,7500,10000,12500,15000,17500,20000,22500,25000]
for i in My_list:
    print(i)

2500
5000
7500
10000
12500
15000
17500
20000
22500
25000

# QUESTION 2
A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount

In [21]:
Salary= int(input("Enter salary: "))
Years_of_service= int(input("Enter years of service: "))
if Years_of_service > 5:
    print ("Bonus is", 0.05*Salary)
else:
    print ("No Bonus")

Enter salary: 250000
Enter years of service: 6
Bonus is 12500.0

# QUESTION 3
Take input of age of 3 people by user and determine oldest and youngest among them

In [13]:
First_age = int(input("Enter age Person 1: "))
Second_age = int(input("Enter age Person 2: "))
Third_age = int(input("Enter age Person 3: "))
print()
if (First_age > Second_age) & (First_age > Third_age):
    print("Person 1 is the oldest")
    if Second_age < Third_age:
        print("Person 2 is the youngest")
    else:
        print("Person 3 is the youngest")
elif (Second_age > First_age) & (Second_age > Third_age):
    print("Person 2 is the oldest")
    if First_age < Third_age:
        print("Person 1 is the youngest")
    else:
        print("Person 3 is the youngest")
else:
     print("Person 3 is the oldest")
     if First_age < Second_age:
         print("Person 1 is the youngest")
     else:
         print("Person 2 is the youngest")

Enter age Person 1: 28
Enter age Person 2: 16
Enter age Person 3: 33

Person 3 is the oldest
Person 2 is the youngest

# QUESTION 4
A school has following rules for grading system:
a. Below 25 -F   b. 25 to 45 -E    c. 45 to 50 -D      d. 50 to 60 -C    e. 60 to 80 -B     f. Above 80 -A

# QUESTION 5
Ask user to enter marks and print the corresponding grade

In [20]:
Marks = int(input("Enter marks: "))
if Marks <25:
  print("F")
elif Marks >= 25 and Marks <45:
  print("E")
elif Marks >=45 and Marks <50:
  print("D")
elif Marks >=50 and Marks <60:
  print("C")
elif Marks >=60 and Marks <80:
  print("B")
else:
  print("A")

Enter marks: 91
A

# QUESTION 6
Write a Python script to merge two Python dictionaries

In [27]:
Dictionary1={"Bread": "Tea", "Beans":"Yam", "Eba":"Soup"}
Dictionary2={"Indomie":"Egg", "Rice":"Stew"}
Merged_dictionary=Dictionary1.copy()
Merged_dictionary.update(Dictionary2)
Merged_dictionary

{'Bread': 'Tea',
 'Beans': 'Yam',
 'Eba': 'Soup',
 'Indomie': 'Egg',
 'Rice': 'Stew'}

# QUESTION 7
Write a python program to get the largest number from a list

In [15]:
Age=[20,25,30,35,40,50,55,60,80,200]
Max_age=max(Age)
print(Max_age)

200

# QUESTION 8
Write a python program to remove a key from a dictionary

In [23]:
My_dictionary={"Nigeria":"Abuja","Ghana":"Accra","Senegal":"Dakar","Egypt":"Cairo","Uganda":"Kampala"}
print(My_dictionary)
if "Senegal" in My_dictionary:
    del My_dictionary["Senegal"]
print(My_dictionary)

{'Nigeria': 'Abuja', 'Ghana': 'Accra', 'Senegal': 'Dakar', 'Egypt': 'Cairo', 'Uganda': 'Kampala'}
{'Nigeria': 'Abuja', 'Ghana': 'Accra', 'Egypt': 'Cairo', 'Uganda': 'Kampala'}