1. Print all elements of a list using for loop.

In [5]:
element = [1,2,'ade', 4]
for i in element:
    print(i)

1
2
ade
4

2)Using range(1,101), make two list, one containing all even numbers andother containing all odd numbers.

In [6]:
Even_number =[]
Odd_number = []
for i in range(1,101):
    if i % 2 ==0:
        Even_number.append(i)
    else:
        Odd_number.append(i)
        
print(f'Even numbers are : ' ,Even_number)
print(f'Odd numbers are : ', Odd_number)

Even numbers are :  [2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]
Odd numbers are :  [1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49, 51, 53, 55, 57, 59, 61, 63, 65, 67, 69, 71, 73, 75, 77, 79, 81, 83, 85, 87, 89, 91, 93, 95, 97, 99]

3) A company decided to give bonus of 5% to employee if his/her year of service is more than 5years. Ask user for their salary and year of service and print the net bonus amount.

In [5]:
Salary = int(input("Enter your salary = "))
Year = int(input("Enter years of Service = "))

if Year > 5:
    print(f'Net Bonus is', 0.05 * Salary)
else:
    print('You are not eligible for Bonus')

Enter your salary = 1000
Enter years of Service = 6
Net Bonus is 50.0

4)Take input of age of 3 people by user and determine oldest and youngest among them.

In [8]:
Age1 = int(input('Enter Your Age '))
Age2 = int(input('Enter Your Age '))
Age3 = int(input('Enter Your Age '))

#for Oldest
if (Age1 > Age2) and (Age1 > Age3):
    print('Age 1 is the Oldest')
elif (Age2 > Age1) and (Age2 > Age3):
          print('Age 2 is the Oldest')
elif (Age3 > Age1) and (Age3 > Age2):
          print('Age 3 is the oldest')
else:
    print('You all are Age mate')

Enter Your Age 7
Enter Your Age 9
Enter Your Age 88
Age 3 is the oldest

In [9]:
# for Youngest
if (Age1 < Age2) and (Age1 < Age3):
    print('Age 1 is the Youngest')
elif (Age2 < Age1) and (Age2 < Age3):
          print('Age 2 is the Youngest')
elif (Age3 < Age1) and (Age3 < Age2):
          print('Age 3 is the Youngest')
else:
    print('You all are Age mate')

Age 1 is the Youngest

5)A school has following rules for grading system

In [10]:
Mark = int(input("Enter you mark "))

if Mark < 25:
    print('F')
elif Mark >= 25 and Mark < 45:
    print('E')
elif Mark >= 45 and Mark < 50:
    print('D')
elif Mark >= 50 and Mark < 60:
    print('C') 
elif Mark >= 60 and Mark < 80:
    print('B')
else:
    print('A')

Enter you mark 65
B


6)Write a Python script to merge two Python dictionaries

In [11]:
Dicto = {1:35, 'ade':'yinka', 'Aibuki': 20}
Dicto2 = {'school': 'Tech4dev', "Excel": 'Vlookup'}
Dict= {}

for i in (Dicto,Dicto2):
    Dict.update(i)
print(Dict)

{1: 35, 'ade': 'yinka', 'Aibuki': 20, 'school': 'Tech4dev', 'Excel': 'Vlookup'}

7)Write a Python program to remove a key from a dictionary.

In [12]:
print(f'old Dicto is ',Dicto)

if 1 in Dicto:
    del Dicto[1]
print(f' New Dicto is ',Dicto)

old Dicto is  {1: 35, 'ade': 'yinka', 'Aibuki': 20}
 New Dicto is  {'ade': 'yinka', 'Aibuki': 20}

8)Write a Python program to get the largest numberfrom a list

In [24]:
MyList = [1,4,70,8,50,88,99,6]
Largest = max(MyList)
print(Largest)

99