In [82]:
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.ensemble import RandomForestClassifier
from sklearn.datasets import load_diabetes #inbuilt data in sklearn
from sklearn.datasets import load_iris
#inbuilt data in sklearn
%matplotlib inline

In [152]:
dia = load_diabetes()
dir(dia)

['DESCR',
 'data',
 'data_filename',
 'data_module',
 'feature_names',
 'frame',
 'target',
 'target_filename']

In [154]:
#no description called images
#plt.gray()
#for i in range(4):
   # plt.matshow(dia.images[i])

In [83]:
dia = load_diabetes()
diabetes = pd.DataFrame(dia.data)
diabetes.head()

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [84]:
diabetes["Target"] = dia.target
diabetes.head()

,0,1,2,3,4,5,6,7,8,9,Target
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646,151.0
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204,75.0
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930,141.0
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362,206.0
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641,135.0

In [85]:
#define features
X = diabetes.drop("Target", axis = "columns")
X[0:5]

,0,1,2,3,4,5,6,7,8,9
0,0.038076,0.050680,0.061696,0.021872,-0.044223,-0.034821,-0.043401,-0.002592,0.019908,-0.017646
1,-0.001882,-0.044642,-0.051474,-0.026328,-0.008449,-0.019163,0.074412,-0.039493,-0.068330,-0.092204
2,0.085299,0.050680,0.044451,-0.005671,-0.045599,-0.034194,-0.032356,-0.002592,0.002864,-0.025930
3,-0.089063,-0.044642,-0.011595,-0.036656,0.012191,0.024991,-0.036038,0.034309,0.022692,-0.009362
4,0.005383,-0.044642,-0.036385,0.021872,0.003935,0.015596,0.008142,-0.002592,-0.031991,-0.046641

In [86]:
#define target
y = diabetes["Target"]
y[0:5]

0    151.0
1     75.0
2    141.0
3    206.0
4    135.0
Name: Target, dtype: float64

#### Training. Modeling and Prediction

In [87]:
#train/test and split 
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state=42)

In [148]:
# fit the model
forest = RandomForestClassifier(n_estimators=10, random_state=2)
forest.fit(X_train, y_train)

RandomForestClassifier(n_estimators=10, random_state=2)

In [149]:
#predict
d_pred = forest.predict(X_test)
d_pred[0:5]

array([131., 141., 283., 259.,  51.])

In [150]:
#score

forest.score(X_test,y_test)

0.015037593984962405

## Iris

In [155]:
dia = load_iris()
dir(ir)

['DESCR',
 'data',
 'data_module',
 'feature_names',
 'filename',
 'frame',
 'target',
 'target_names']

In [156]:
#plt.gray()
#for i in range(4):
    #plt.matshow(ir.images[i])

In [91]:
#convert to DataFrame
iris = pd.DataFrame(ir.data)
iris.head()

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [92]:
iris["Target"] = ir.target
iris.head()

     0    1    2    3  Target
0  5.1  3.5  1.4  0.2       0
1  4.9  3.0  1.4  0.2       0
2  4.7  3.2  1.3  0.2       0
3  4.6  3.1  1.5  0.2       0
4  5.0  3.6  1.4  0.2       0

In [101]:
#define features
XX = iris.drop("Target", axis = "columns")
XX[0:5]

     0    1    2    3
0  5.1  3.5  1.4  0.2
1  4.9  3.0  1.4  0.2
2  4.7  3.2  1.3  0.2
3  4.6  3.1  1.5  0.2
4  5.0  3.6  1.4  0.2

In [102]:
#define target
yy = iris["Target"]
yy[0:5]

0    0
1    0
2    0
3    0
4    0
Name: Target, dtype: int32

#### Training. Modeling and Prediction

In [111]:
#train/test and split 
from sklearn.model_selection import train_test_split
XX_train, XX_test, yy_train, yy_test = train_test_split(XX, yy, test_size = 0.3,random_state=42)

In [124]:
#fit the model
iforest = RandomForestClassifier(n_estimators=2, random_state=2)
iforest.fit(XX_train, yy_train)

RandomForestClassifier(n_estimators=2, random_state=2)

In [125]:
#predict
i_pred = iforest.predict(XX_test)
i_pred[0:5]

array([1, 0, 2, 1, 1])

In [126]:
#score

iforest.score(XX_test,yy_test)

0.9777777777777777