## PERSONAL WORK : BOLARINWA AISHAT.

1) Print all elements of a list using for loop

2) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. Ask user for their salary and year of service and print the net bonus amount.

3) Take input of age of 3 people by user and determine oldest and youngest among them. 

4) A school has following rules for grading system:

a. Below 25 - F

b. 25 to 45 - E

c. 45 to 50 - D

d. 50 to 60 - C

e. 60 to 80 - B

f. Above 80 - A

5) Ask user to enter marks and print the corresponding grade.

6) Write a Python script to merge two Python dictionaries

7) Write a python program to get the largest number from a list 

8) Write a python program to remove a key from a dictionary

In [1]:
#1) Print all elements of a list using for loop

List = ['Aishat', 'Bolarinwa', 'Adeola', 'Titilope', 'Arike']
for i in List:
    print(i)

Aishat
Bolarinwa
Adeola
Titilope
Arike

In [2]:
#2) A company decided to give bonus of 5% to employee if his/her year of service is more than 5 years. 
#Ask user for their salary and year of service and print the net bonus amount.

salary = int(input("What is your Salary? "))

year = int(input("How many years have you spent in service? "))

if year>5:

   print("Your Net bonus =",0.05*salary)

What is your Salary? 50000
How many years have you spent in service? 7
Your Net bonus = 2500.0

In [3]:
#3) Take input of age of 3 people by user and determine oldest and youngest among them.

age1 = int(input("Enter age Person 1: "))

age2 = int(input("Enter age Person 2: "))

age3 = int(input("Enter age Person 3: "))
print()
if (age1 > age2) & (age1 > age3):
    print('Person 1 is the oldest')
    if age2 < age3:
        print('Person 2 is the youngest')
    else:
        print('Person 3 is the youngest')
elif (age2 > age1) & (age2 > age3):
    print('Person 2 is the oldest')
    if age1 < age3:
        print('Person 1 is the youngest')
    else:
        print('Person 3 is the youngest')
else:
     print('Person 3 is the oldest')
     if age1 < age2:
         print('Person 1 is the youngest')
     else:
         print('Person 2 is the youngest')

Enter age Person 1: 5
Enter age Person 2: 23
Enter age Person 3: 15

Person 2 is the oldest
Person 1 is the youngest

In [4]:
#4) A school has following rules for grading system:
#a. Below 25 - F
#b. 25 to 45 - E
#c. 45 to 50 - D
#d. 50 to 60 - C
#e. 60 to 80 - B
#f. Above 80 - A
#5) Ask user to enter marks and print the corresponding grade.

score = int(input("What did you score? "))

if score < 25:  
    print("Your Grade is F")

elif score >= 25 and score < 45:  
    print("Your Grade is E")

elif score >= 45 and score < 50:  
    print("Your Grade is D")

elif score >= 50 and score < 60:  
    print("Your Grade is C")

elif score >= 60 and score < 80:  
    print("Your Grade is B")

else:  
    print("Your Grade is A")

What did you score? 78
Your Grade is B

In [5]:
#6) Write a Python script to merge two Python dictionaries

import pandas as pd
dict1 = {'A for Apple', 'B for Ball', 'C for Cup', 'D for Dog', 'E for Egg', 'F for Fish', 'G for Goat'}
dict2 = {'H for Helicopter', 'I for Ice-cream', 'J for Jug', 'K for Kettle', 'L for Lamp', 'M for Monkey', 'N for Nose'}

#dict1 = pd.DataFrame(dict1)
#dict2 = pd.DataFrame(dict2)

#combo = pd.merge(dict1, dict2)
#print(combo)

dict1 | dict2

{'A for Apple',
 'B for Ball',
 'C for Cup',
 'D for Dog',
 'E for Egg',
 'F for Fish',
 'G for Goat',
 'H for Helicopter',
 'I for Ice-cream',
 'J for Jug',
 'K for Kettle',
 'L for Lamp',
 'M for Monkey',
 'N for Nose'}

In [6]:
#7) Write a python program to get the largest number from a list

List1 = [20, 30, 320, 4, 2]
print(max(List1))

320

In [7]:
#8) Write a python program to remove a key from a dictionary

dict3 = {'H : Helicopter', 'I : Ice-cream', 'J : Jug', 'K : Kettle', 'L : Lamp', 'M : Monkey', 'N : Nose'}
print(dict3)

dict3.pop()
print(dict3)

{'H : Helicopter', 'M : Monkey', 'I : Ice-cream', 'N : Nose', 'L : Lamp', 'K : Kettle', 'J : Jug'}
{'M : Monkey', 'I : Ice-cream', 'N : Nose', 'L : Lamp', 'K : Kettle', 'J : Jug'}

### Thank You !!!